<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <a class="navbar-brand" href="#home">
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", "#home", class: "nav-link scrollTo" %>
      </li>
      <li class="nav-item">
        <%= link_to "About Me", "#about", class: "nav-link scrollTo"%>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", "#projects", class: "nav-link scrollTo"%>
      </li>
      <li class="nav-item">
        <%= link_to "Resume", "#resume", class: "nav-link scrollTo"%>
      </li> 
      <li class="nav-item">
      <%= link_to "Contact", "#contact", class: "nav-link scrollTo"%>
      </li> 
    </ul>
  </div>
</div>
